## Generic stuff
*build*/
cmake-build-debug/

*.exe
*.obj
*.o
*.out

*.local.*

compile_commands.json

## IntelliJ stuff
.idea/
*.imp

## ??
*.stackdump

## Whatever
test_package/

## Configured by CMake
src/versioning.hpp
src/config.hpp
test/testmain.cpp
dox_site/installation.md
.doxygen

## Perl Idea plugin thingy
_Deparsed_XSubs.pm

## Documentation
dox/
infoparse/

## Locally auto-installed Boost
boost_*/
