## Generic stuff
*build*/
cmake-build-debug/

*.exe
*.obj
*.o
*.out

*.local.*

compile_commands.json

## IntelliJ stuff
.idea/
*.imp

## ??
*.stackdump

## Configured by CMake
src/versioning.hpp
src/config.hpp
.doxygen

## Perl Idea plugin thingy
_Deparsed_XSubs.pm

## Documentation
dox/
infoparse/

## Locally auto-installed Boost
boost_*/
